*           text=auto eol=lf

# Binary (nicht konvertieren)
*.png      binary
*.jpg      binary
*.jpeg     binary
*.mp3      binary
*.wav      binary
*.ogg      binary
*.md5      binary

# Godot-typische Textdateien
*.tscn     text eol=lf
*.tres     text eol=lf
*.import   text eol=lf
*.cfg      text eol=lf
*.md       text eol=lf
*.txt      text eol=lf
